User Name: <input type="text" value="Ashok">
<!-- Student Name <input type="text" [value]="uname"> -->

Student Name <input type="text" (keyup)="getUpdatedData()" [(ngModel)]="uname">

<span [innerText]="uname"></span>


<h2>
  Display Image:
</h2>

<div>
  <select [(ngModel)]="imageName">
    <option selected value="">Select Camera</option>
    <ng-container *ngFor="let image of images">
      <option [value]="image.name">{{image.name | titlecase}}</option>
    </ng-container>
  </select>
</div>

<div *ngIf="imageName && imageName.length">
  <h3>Name: {{imageName+'.jpg' | titlecase}}</h3>
  <img width="250" height="230" src="assets/images/{{imageName}}.jpg" alt="">
</div>


