<form [formGroup]="userForm" (ngSubmit)="saveData()">
  <div>
    <label for="firstName">First Name</label>
    <input type="text" formControlName="firstName">
    <div *ngIf="formControl['firstName'].invalid && formControl['firstName'].touched || formControl['firstName'].dirty">
      <span  class="errors" *ngIf="formControl['firstName'].hasError('required')">Please enter first name.</span>
      <span  class="errors" *ngIf="formControl['firstName'].hasError('minlength')">Please enter minimim 3 characters.</span>
      <span  class="errors" *ngIf="formControl['firstName'].hasError('maxlength')">Please enter maximum 16 characters only.</span>
    </div>
  </div><br>
  <div>
    <label for="lastName"> Last Name</label>
    <input type="text" formControlName="lastName">
    <div *ngIf="formControl['lastName'].invalid && formControl['lastName'].touched || formControl['lastName'].dirty">
      <span  class="errors" *ngIf="formControl['lastName'].hasError('required')">Please enter last name.</span>
      <span  class="errors" *ngIf="formControl['lastName'].hasError('minlength')">Please enter minimim 3 characters.</span>
      <span  class="errors" *ngIf="formControl['lastName'].hasError('maxlength')">Please enter maximum 16 characters only.</span>
    </div>
  </div>
  <div>
    <label for="age"> Age</label>
    <input type="number" formControlName="age">
    <div *ngIf="formControl['age'].invalid && formControl['age'].touched || formControl['age'].dirty">
      <span  class="errors" *ngIf="formControl['age'].hasError('required')">Please enter first name.</span>
    </div>
  </div>
  <div><br>
    <label for="gender">Gender</label><br>
    <input type="radio" formControlName="gender" value="male"> Male <br>
    <input type="radio" formControlName="gender" value="female"> Female
    <!-- <div *ngIf="ngUserForm.submitted && gender.invalid || gender.touched">
      <span  class="errors" *ngIf="gender.hasError('required')">Please enter last name.</span>
    </div> -->
  </div>
  <div formGroupName="address">
    <div>
      <label for="addressLine1">Address Line-1</label>
      <input type="text" formControlName="addressLine1">
      <div *ngIf="formAddressControl['addressLine1'].invalid && formAddressControl['addressLine1'].touched || formAddressControl['addressLine1'].dirty">
        <span  class="errors" *ngIf="formAddressControl['addressLine1'].hasError('required')">Please enter addressLine1.</span>
      </div>
    </div><br>
    <div formArrayName="addressLine">
      <button type="button" (click)="addAddressFild()">Add Address</button><br>
      <label for="addressLine1">Address Line-2</label>
      <ng-container *ngFor="let field of addressArray['controls']; let i = index" [formGroupName]='i'>
        <div>
          <input type="text" formControlName="addressLine2">
          <div *ngIf="addressArray['controls'][i]?.get('addressLine2')?.invalid && addressArray['controls'][i]?.get('addressLine2')?.touched || addressArray['controls'][i]?.get('addressLine2')?.dirty">
            <span  class="errors" *ngIf="addressArray['controls'][i]?.get('addressLine2')?.hasError('required')">Please enter addressLine1.</span>
          </div>
        </div>
        <button type="button" (click)="removeField(i)">remove</button>
        <br>

      </ng-container>

    </div><br>
    <div>
      <label for="landmark">Landmark</label>
      <input type="text" formControlName="landmark">
      <div *ngIf="formAddressControl['landmark'].invalid && formAddressControl['landmark'].touched || formAddressControl['landmark'].dirty">
        <span  class="errors" *ngIf="formAddressControl['landmark'].hasError('required')">Please enter landmark.</span>
      </div>
    </div><br>
    <div>
      <label for="state">State</label>
      <select formControlName="state">
        <option value="">Select State</option>
        <option value="20">Mirzapur</option>
        <option value="21">Prayagraj</option>
      </select>
      <div *ngIf="formAddressControl['state'].invalid && formAddressControl['state'].touched || formAddressControl['state'].dirty">
        <span  class="errors" *ngIf="formAddressControl['state'].hasError('required')">Please select state.</span>
      </div>
    </div><br>
    <div>
      <label for="city">City</label>
      <select formControlName="city">
        <option value="">Select City</option>
        <option value="20">Mirzapur</option>
        <option value="21">Prayagraj</option>
      </select>
      <div *ngIf="formAddressControl['city'].invalid && formAddressControl['city'].touched || formAddressControl['city'].dirty">
        <span  class="errors" *ngIf="formAddressControl['city'].hasError('required')">Please select City.</span>
      </div>
    </div><br>
    <div>
      <label for="postalcode">Postal Code</label>
      <input type="text" formControlName="postalCode">
      <div *ngIf="formAddressControl['postalCode'].invalid && formAddressControl['postalCode'].touched || formAddressControl['postalCode'].dirty">
        <span  class="errors" *ngIf="formAddressControl['postalCode'].hasError('required')">Please enter postal code.</span>
      </div>
    </div><br>
  </div>

  <button type="submit">Submit Data</button>
</form>
