<h1 align="center">
  {{title}}<!-- Interpollation(one way data binding) -->
</h1><hr>

<!-- <div class="student-record-block">
  <h2>
    Student Record
  </h2>

  <div>
    <p>
      Student ID: {{sid}}
    </p>
    <p>
      Student Name: {{sname}}
    </p>
    <p>
      Student Course: {{course}}
    </p>
    <p>
      Course Duration: {{duration}}
    </p>
  </div>
</div>


<div class="employee">
  <table>
    <caption>Employee Record</caption>
    <thead>
      <th>ID</th>
      <th>NAME</th>
      <th>Degignation</th>
      <th>SALARY</th>
      <th>DEPARTMENT</th>
    </thead>
    <tbody>
      <tr>
        <td>{{employee.empID}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.ejob}}</td>
        <td>{{employee.eSal}}</td>
        <td>{{employee.eDept}}</td>
      </tr>
    </tbody>
  </table>

</div>

<div class="student-record-block">
  <ul>
    <li *ngFor="let course of courseList; let i = index">{{course}}</li>
  </ul>
</div>

<app-employee></app-employee> -->

<app-product></app-product><!-- component directive -->
