.student-record-block{
  padding: 20px;
  border: 1px solid blue;
  box-shadow: 0 0 6px #000;
  border-radius: 5px;
  background-color: #ccc;
}


.employee{
  margin-top: 30px;
  table{
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
   td, th{
      border: 1px solid #000;
    }
    td{
      padding: 10px;
    }
  }
}
