<h2 align="center">{{title}}</h2>
<hr />

<h3>Developing Application Using Angular 13</h3>
<hr>
<h2>User Name: {{uname}}</h2>
<hr>

<!-- Demonstrate Student Detail -->
<div class="container">
  <h3>Student Details</h3>
  <p>
    <strong>Student Id:&nbsp;</strong>
    {{sid}}
  </p>
  <p>
    <strong>Student Name:</strong>
    {{sname}}
  </p>
  <p>
    <strong>Course Name:&nbsp;</strong>
    {{sname}}
  </p>
  <p>
    <strong>Course Duration:&nbsp;</strong>
    {{duration}} days
  </p>
</div>

<!-- <app-home></app-home> -->
<!-- <router-outlet></router-outlet> -->
