<h2 align="center">{{title | titlecase}}</h2>
<hr />
<input [type]="inputType" value="{{title | uppercase}}">
<h3>{{'Developing Application Using Angular 13' | lowercase}}</h3>
<hr>
<h2>User Name: {{uname | titlecase}}</h2>
<hr>

<!-- Demonstrate Student Detail -->
<div class="container">
  <h3>{{'Student Details' | uppercase}}</h3>
  <p>
    <strong>Student Id:&nbsp;</strong>
    {{sid'}}
    {{sid | currency:'EUR'}}
  </p>
  <p>
    <strong>Student Name:</strong>
    {{sname | titlecase}}
  </p>
  <p>
    <strong>Course Name:&nbsp;</strong>
    {{sname}}
  </p>
  <p>
    <strong>Course Duration:&nbsp;</strong>
    {{duration}} days
  </p>
</div>

<hr />
<h3>Course List</h3>
<hr />

<ul>
  <li *ngFor="let course of courseList; let i = index">
    <p><span>{{i+1}}</span> -> {{course}}</p>
  </li>
</ul>
<!-- <app-home></app-home> -->
<!-- <router-outlet></router-outlet> -->

<hr />
<h2>Data Binding</h2>
<hr />

<app-data-binding></app-data-binding>
