

<h2 align="center">{{title | titlecase}}</h2>
<hr />
<input [type]="inputType" value="{{title | uppercase}}">
<h3>{{'Developing Application Using Angular 13' | lowercase}}</h3>
<hr>
<h2>User Name: {{uname}}</h2>
<hr>

<!-- Demonstrate Student Detail -->
<div class="container">
  <h3>{{'Student Details' | uppercase}}</h3>
  <p>
    <strong>Student Id:&nbsp;</strong>
    {{sid'}}
    {{sid | currency:'EUR'}}
  </p>
  <p>
    <strong>Student Name:</strong>
    {{sname | titlecase}}
  </p>
  <p>
    <strong>Course Name:&nbsp;</strong>
    {{sname}}
  </p>
  <p>
    <strong>Course Duration:&nbsp;</strong>
    {{duration}} days
  </p>
</div>

<hr />
<h3>Course List</h3>
<hr />

<ul>
  <li *ngFor="let course of courseList; let i = index">
    <p><span>{{i+1}}</span> -> {{course}}</p>
  </li>
</ul>
<!-- <app-home></app-home> -->
<!-- <router-outlet></router-outlet> -->

<!-- <hr />
<h2>Data Binding</h2>
<hr /> -->

Select Component: <select [(ngModel)]="componentType">
  <option value="1">Data Binding</option>
  <option value="2">Next Prev</option>
</select><br>


<!-- <ng-container *ngIf="componentType==1">
  <app-data-binding></app-data-binding>
</ng-container>

<ng-container *ngIf="componentType==2">
  <app-nex-prev></app-nex-prev>
</ng-container> -->


<ng-container [ngSwitch]="componentType">
  <ng-container *ngSwitchCase="1">
    <app-data-binding></app-data-binding>
  </ng-container>

  <ng-container *ngSwitchCase="2">
    <app-nex-prev></app-nex-prev>
  </ng-container>
</ng-container>


