<div>
  <div>
    <label for="search">Search Data</label>
    <input type="text" [(ngModel)]="searchText">
  </div>
  <h1>Students Record</h1>
  <table style="width: 100%;" border="1" [cellPadding]="10" [cellSpacing]="0">
    <thead>
      <tr>
        <th>NAME</th>
        <th>CITY</th>
        <th>COUNTRY</th>
        <th>GENDER</th>
        <th>SALARY</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let student of slicedStudentData; let i = index"> -->
        <ng-container *ngFor="let student of  getStudentList() | filter: searchText: 'City'; let i = index">
          <tr>
            <!-- <td *ngFor="let item of student | keyvalue : order">{{item.value}}</td> -->

            <td>
              <span>
                {{student.Name | titlecase | titlePrefix: student.gender}}
              </span>
            </td>

            <!-- <td>
              {{student.Name | titlecase | uppercase | lowercase}}
            </td> -->
            <td>
              {{student.City | uppercase}}
            </td>
            <td>
              {{student.Country | lowercase}}
            </td>
            <td>
              <span *ngIf="student.gender; else dash">
                {{student.gender | gender}}
              </span>
            </td>
            <td>
              <!-- {{student.salary | currency: 'EUR'}}
              {{student.salary | currency: 'USD'}} -->
              <!-- {{student.salary | currency: 'INR'}} -->
              <span *ngIf="student.salary; else dash">
                {{student.salary | number: '0.2'}}
              </span>
            </td>
          </tr>
        </ng-container>
    </tbody>
  </table>
</div>
<div>
  <a (click)="previous()" href="javascript:;">Previous</a>&nbsp;&nbsp;
  <a (click)="next()" href="javascript:;">Next</a>
</div>

<ng-template #dash>
  <span>---</span>
</ng-template>
